.section {
  &__coffee {
    position: relative;
    background: url("../img/cofee/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 0px;
    background-position: center;
  }
}

.coffee {
  

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
